.Footer {
  width: 100vw;
  direction: rtl;
  display: flex;
  padding-top: 2.5rem;
  flex-direction: column;
  gap: 2.5rem;
  background: var(--primary-4, #fff);
  justify-content: space-between; /* Ensure content is spaced vertically */
}
.footerLinks {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  width: 100%; /* Adjust width as needed */
  max-width: 83.33vw; /* Set a max width for responsiveness */
  margin: 0 auto; /* Center the content within the available width */
}
.footer-cols {
  display: flex;
  justify-content: center; /* Center columns horizontally */
  align-items: flex-start;
  gap: 2.5rem;
}
.col1,
.col2,
.col3 {
  flex: 1 1 calc(25% - 1rem); /* Adjust the width of each column */
  padding: 0 0.5rem;
}
.col4 .footerTitrs {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
.footerTitrs {
  color: var(--primary-2, #354752);
  text-align: right;
  font-family: var(--16-regular-font-family);
  font-size: var(--16-regular-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom: 1rem;
}
.footerLink,
.ourStory {
  padding-bottom: 1rem;
  display: block;
  color: var(--primary-3, #8798a1);
  text-align: right;
  font-family: var(--14-regular-font-family);
  font-size: var(--14-regular-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin: 0;
}
.Social-i {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.footerCustomerClub {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0; /* Adjust the gap as needed */
  background: var(--primary-13, #fffbfb);
}
.customerclub {
  display: flex;
  width: 78vw;
  align-items: end;
  gap: 40px;
}
.title-cc {
  color: var(--primary-2, #354752);
  text-align: right;
  margin: 1rem;
  /* 16/bold */
  font-family: var(--16-regular-font-family);
  font-size: var(--16-regular-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.content-cc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
}
.input-cc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input-btn {
  display: flex;
  align-items: flex-start;
  gap: 9px;
}
.input-btn > :nth-child(1) {
  font-family: var(--14-regular-font-family);
  font-size: var(--14-regular-font-size);
  font-style: var(--14-regular-font-style);
  letter-spacing: var(--14-regular-letter-spacing);
  line-height: var(--14-regular-line-height);
  direction: rtl;
  display: flex;
  padding: 0.5rem 1rem 0.5rem 10rem;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  border: 1px solid var(--primary11, #c8d3d9);
}
.btn-cc {
  display: flex;
  height: 40px;
  padding: 6px var(--M, 16px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--M, 16px);
  border-radius: var(--S, 8px);
  background: var(--primary-1, #790000);
}
.logo-cc {
  display: flex;
  width: 41px;
  height: 43px;
  bottom: 0;
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 800px) {
  .col1,
  .col2,
  .col3 {
    display: none;
  }
  .col4 {
    margin: auto;
  }
  .footerCustomerClub {
    display: none;
  }
}
