.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 2.5rem auto;
}

.banner {
  width: 78vw;
  height: auto;
}
@media screen and (max-width: 800px) {
  .banner {
    display: none;
  }
}
